.reviews-section {
    margin-top: 20px;
  }
  
  .review-list {
    margin-top: 10px;
  }
  
  .review {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow */
  }
  
  .review .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center align items vertically */
    margin-bottom: 10px;
  }
  
  .review .review-header span {
    color: #666;
  }
  
  .review p {
    color: #333;
  }
  